<meta charset="utf-8" />
<title>Building Fighter - Open</title>
<link rel="stylesheet" href="/stylesheets/style.css"/>
<link rel="stylesheet" href="/javascripts/leaflet/leaflet.css"/>
<script type="text/javascript" src="/javascripts/leaflet/leaflet-src.js"></script>
<script	 type="text/javascript" >
var baseServiceUrl = "https://localhost:44315";
</script>