<!DOCTYPE html>
<html>
<head>
    <% include head %> 
</head>
<body>
    <header>
        <h1>Building Fighter - Open</h1>
    </header>
    <nav>

    </nav>

    <main>
        <%- body %>
    </main>

    <footer>
        <h2>Données</h2>
        <ul>
            <li><a href="https://sql.sh/736-base-donnees-villes-francaises">Villes de France</a></li>
            <li><a href="https://www.openstreetmap.org">© OpenStreetMap contributors</a></li>
        </ul>
    </footer>
</body>
</html>