<!DOCTYPE html>
<html>
<head>
    <% include head %> 
</head>
<body>
    <header>
        <h1>Building Fighter - Open</h1>
    </header>
    <nav>

    </nav>

    <main>
        <%- body %>
    </main>

    <footer>

    </footer>
</body>
</html>