<% layout('templates/layout') -%>

<input type="text" name="communeSearch"/>
<button value="Valider" onclick="search();" >Validate</button>
<p id="searchResults"></p>
<div id="map"></div>

<script type="text/javascript">
  var map = L.map('map', {
      crs: L.CRS.Simple,
      minZoom: -5
  });
  var bounds = [[0, 0], [10000, 10000]];
  map.fitBounds(bounds);
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function () {
      if (this.readyState == 4 && this.status == 200) {
          var geojsonFeature = JSON.parse(xhttp.responseText);
          L.geoJSON(geojsonFeature).addTo(map);
      }
  };
  xhttp.open("GET", "data/data.json", true);
  xhttp.send();

function search(){
    var searchContent = document.getElementsByName("communeSearch")[0];
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var searchResults = JSON.parse(xhttp.responseText);
            document.getElementById("searchResults").innerHTML = searchResults;
        }
    };
    xhttp.open("GET", "https://localhost:44315/api/communes?search="+searchContent.value, true);
    xhttp.send();
}
</script>
