body {
  background-color: gainsboro;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
}

main{
  width:1024px;
  margin:auto;
}

#map{
  width:800px;
  height:600px;
  border: 2px dashed black;
}

a {
  color: #00B7FF;
}
